*{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;	
}
a:link, a:active, a:visited{
	color: #ffffff;
	text-decoration: none;
}
.linha{
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	float: left;
}
.area1{
	width: 40vw;
	display: inline-block;
}
.area2{
	width: 100vw;
}
.area3{
	width: 60vw;
	display: inline-block;
}
.area4{
	width: 23.5vw;
	height: 50vh;
	display: inline-block;
	margin-left: 1vw;
	border: solid;
	border-width: thin;
	border-color: #CCCCCC;
}
ul.inline li, ol.inline li{
	display: inline-block;
	margin-right: 15px;
	padding-top: 15px;
}
.menu1{
	float: right;
}
ul.inline li{
	display: inline;
}
.opcoes{
	padding-top: 70px;
}
li.caixa{
	width: 150px;
	height: 60px;
	text-align: center;
}
ul.menu{
	padding-right: 25px;
}
.header{
	width: 1600px;
	height: 85px;
	background: rgba(0,0,0,0.7);
	position: fixed;
	width: 100vw;
	
}
.logo{
	padding-top: 13px;
	padding-left: 20px;
}
.section{
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100vw;
}
h1{
	color: #ffffff;
}
.banner{
	text-align: center;
	font-size: 52px;
	padding-top: 30vh;
	padding-bottom: 45vh;
}
.banner img{
	width: 3%;
}
.footer{
	background: #000000;
	color: #ebebeb;
	text-align: center;
	width: 100vw;
	height: 45px;
}
p.footer{
	padding-top: 25px;
}
.menu{
	text-align: right;
	margin-top: 25px;
	font-size: 18px;
}
.menu li a:hover{
	text-decoration: none;
}
.inline{
	display: inline-block;
}
.imagem{
	display: block;
}
.cur{
	display: inline-block;
	border: solid;
	border-color: #ffffff;
	font-size: 30px;
	padding: 10px;
	text-align: center;
}
p.material1{
	color: #FF4500;
	font-size: 35px;
	text-align: center;
	letter-spacing: 8px;
	padding: 10px 10px;
	font-weight: bold;
}
p.material2{
	color: #000000;
	text-align: justify;
	font-size: 15px;
	font-weight: bold;
}
.area1 img{
	padding-left: 10px;
}
.opcao1,.opcao2{
	text-align: center;
	height: 50vh;
	display: inline-block;
}
.img1,.img2{
	background-color: #CC6666;
	height: 35vh;
}
.img3{
	background-color: #66CCFF;
	height:35vh;
}
.img4{
	background-color: #FFCC00;
	height: 35vh; 
}
a.botao{
	background: #FF6600;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}
.img1 p,.img2 p,.img3 p,.img4 p,.img5 p,.img6 p,.img7 p,.img8 p{
	text-align: left;
	padding-left: 1vw;
	font-size: 16px;
}
.info p{
	text-align: center;
	color: #000000;
	padding-top: 2vh;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 1vh;
}
p.titulo{
	color: #FF4500;
	font-size: 35px;
	text-align: center;
	letter-spacing: 8px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 20px;
}
a.mais{
	background: #000000;
	padding: 10px 75px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
	font-size: 16px;
	letter-spacing: 2px;
}
.article2,.article3{
	text-align: center;
	border-top: solid;
	border-top-width: thin;
	border-color: #CCCCCC;
	padding-bottom: 10px;
	padding-top: 10px;
}
p.titulo2{
	color: #993333;
	font-size: 35px;
	text-align: center;
	letter-spacing: 8px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 20px;
}
a.botao2{
	background: #993333;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}
.img6,.img8{
	background-color: #993333;
	height: 35vh;
}
.img5{
	background-color: #CC0000;
	height:35vh;
}
.img7{
	background-color: #9933FF;
	height: 35vh; 
}
.vermais{
	padding-top: 55vh;
	padding-bottom: 10px;
}